.logo {
    text-align: center;
    padding: 20px;
    scale: 80%;
    transition: all 0.5s;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.logo:hover {
    scale: 100%;
    transition: all 0.5s;
}

.results {
    display: block;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
}