.logo {
    text-align: center;
    padding: 20px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.logo:hover {
    scale: 120%;
    transition: all 0.5s;
}
